<!-- <div class="details-section">
  <div class="container-fluid">
    <img
      src="{{ product.imageUrl }}"
      class="detail-img"
      style="margin-top: 5%"
    />

    <h3>{{ product.name }}</h3>
    <div class="price">{{ product.unitPrice | currency: "EUR" }}</div>
    <a href="#" class="primary-btn">Add to cart</a>

    <hr />
    <h4>Description</h4>
    <p>{{ product.description }}</p>

    <a routerLink="/products" class="mt-5">Back to Product List </a>
  </div>
</div> -->

<!-- Page Content -->
<div class="container" style="margin-top: 150px">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <small>{{ product.name }}</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{{ product.imageUrl }}" alt="" />
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>{{ product.description }}</p>
      <hr />
      <div class="price">
        <small>Price:</small> {{ product.unitPrice | currency: "EUR" }}
      </div>

      <a routerLink="/products" class="mt-5">Back to Product List </a>
      <br />
    </div>
  </div>
  <!-- /.row -->
</div>
