<div class="menu-sidebar-content" style="margin-top: 80px">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let temp of carCategory">
        <a
          routerLink="/category/{{ temp.id }}"
          routerLinkActive="active-link"
        >
          {{ temp.categoryName }}
        </a>
      </li>
    </ul>
  </nav>
</div>
