<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a href="#" class="navbar-brand">Brand</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarCollapse"
  >
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/cars"> Cars </a>
    </div>

    <div class="navbar-nav" *ngIf="!userLogedIn">
      <a id="login" class="nav-item nav-link"  routerLink="/login">Login</a>
      <a id="register" class="nav-item nav-link" routerLink="/register">Register</a>
    </div>

    <div class="navbar-nav" *ngIf="userLogedIn">
      <a class="nav-item nav-link" routerLink="/user/management"
        >Welcome: {{ this.user.firstName }}
      </a>
      <a class="nav-item nav-link" (click)="onLogOut()">Logout </a>
    </div>
  </div>
</nav>
